openapi: 3.0.3
info:
  title: JM Showroomer API
  version: 1.0.0
servers:
  - url: /api/v1

paths:
  /health:
    $ref: './common.yaml#/paths/~1health'

  /auth/oauth:
    $ref: './auth.yaml#/paths/~1auth~1oauth'
  /auth/apple:
    $ref: './auth.yaml#/paths/~1auth~1apple'

  /users/me:
    $ref: './users.yaml#/paths/~1users~1me'
  /users/complete-onboarding:
    $ref: './users.yaml#/paths/~1users~1complete-onboarding'
  /users/request-owner:
    $ref: './users.yaml#/paths/~1users~1request-owner'
  /users/dev/register-test:
    $ref: './users.yaml#/paths/~1users~1dev~1register-test'
  /users/dev/make-owner:
    $ref: './users.yaml#/paths/~1users~1dev~1make-owner'

  /showrooms:
    $ref: './showrooms.yaml#/paths/~1showrooms'
  /showrooms/create:
    $ref: './showrooms.yaml#/paths/~1showrooms~1create'
  /showrooms/draft:
    $ref: './showrooms.yaml#/paths/~1showrooms~1draft'
  /showrooms/{id}:
    $ref: './showrooms.yaml#/paths/~1showrooms~1{id}'
  /showrooms/{id}/submit:
    $ref: './showrooms.yaml#/paths/~1showrooms~1{id}~1submit'
  /showrooms/{id}/favorite:
    $ref: './showrooms.yaml#/paths/~1showrooms~1{id}~1favorite'

  /lookbooks:
    $ref: './lookbooks.yaml#/paths/~1lookbooks'
  /lookbooks/create:
    $ref: './lookbooks.yaml#/paths/~1lookbooks~1create'
  /lookbooks/{id}/rsvp:
    $ref: './lookbooks.yaml#/paths/~1lookbooks~1{id}~1rsvp'

components:
  securitySchemes:
    $ref: './common.yaml#/components/securitySchemes'
  schemas:
    ApiSuccess:
      $ref: './common.yaml#/components/schemas/ApiSuccess'
    ApiError:
      $ref: './common.yaml#/components/schemas/ApiError'
    Error:
      $ref: './common.yaml#/components/schemas/Error'
    HealthResponse:
      $ref: './common.yaml#/components/schemas/HealthResponse'
    OAuthLoginInput:
      $ref: './auth.yaml#/components/schemas/OAuthLoginInput'
    User:
      $ref: './users.yaml#/components/schemas/User'
    CompleteOnboardingInput:
      $ref: './users.yaml#/components/schemas/CompleteOnboardingInput'
    Contacts:
      $ref: './showrooms.yaml#/components/schemas/Contacts'
    Location:
      $ref: './showrooms.yaml#/components/schemas/Location'
    Showroom:
      $ref: './showrooms.yaml#/components/schemas/Showroom'
    CreateShowroomInput:
      $ref: './showrooms.yaml#/components/schemas/CreateShowroomInput'
    UpdateShowroomInput:
      $ref: './showrooms.yaml#/components/schemas/UpdateShowroomInput'
    Lookbook:
      $ref: './lookbooks.yaml#/components/schemas/Lookbook'
